extends layout

block content
  #container.container
    #display
      form(method="post", action="/feedback/" + feedback._id + "/update")
        div.row
          div.span9
            label(for="comment") User's feedback
            textarea(type="text", class="input-block-level", name="comment", rows="5", placeholder="Feedback", required) #{feedback.comment}
        div.row
          div.span3
            label(for="user") User
            input(type="text", class="input-block-level", name="user", placeholder="User", value=feedback.user, disabled)
          div.span3
            label(for="imei") IMEI
            input(type="text", class="input-block-level", name="imei", placeholder="IMEI", value=feedback.imei, disabled)
          div.span3
            label(for="contact") Contact
            input(type="text", class="input-block-level", name="contact", placeholder="Contact", value=feedback.contact)
        div.row
          div.span3
            label(for="build_id") Build ID
            input(type="text", class="input-block-level", name="build_id", placeholder="Build ID", value=feedback.build_id)
          div.span3
            label(for="associated_bug") Associated Bug
            input(type="text", class="input-block-level", name="associated_bug", placeholder="Associated bug", value=feedback.associated_bug)
          div.span3
            -  feedback2 = (feedback.type_info == 'Feedback') ? 'selected' : null
            -  enhancement = (feedback.type_info == 'Enhancement') ? 'selected' : null
            -  roadmap = (feedback.type_info == 'Roadmap') ? 'selected' : null
            -  bug = (feedback.type_info == 'Bug') ? 'selected' : null
            label(for="type_info") Type
            select#type_info(name="type_info", class="input-block-level", value=feedback.type_info)
              option(value="Feedback", selected=feedback2) Feedback
              option(value="Enhancement", selected=enhancement) Enhancement
              option(value="Roadmap", selected=roadmap) Roadmap
              option(value="Bug", selected=bug) Bug
        div.row
          div.span9
            label(for="additional_info") Additional info
            textarea(type="text", class="input-block-level", name="additional_info") #{feedback.additional_info}
        div.row
          div.span9.form-actions
            button(type="reset", class="btn") Discard
            button(type="submit", class="btn").btn-info Update
