extends layout

block content
  #container.container
    #display
      table.table.table-striped.table-hover
        thead
          tr
            th Date added
            th Comment
            th Build id
            if (isLogged)
              th User
              th Contact
              th Application
              th Type
              th
              th
          tbody
            each item in feedback
              tr(id = 'feedback-' + item._id, class = (!isLogged) ? '' : (item.type_info) == 'Enhancement' ? 'alert-info' : (item.type_info == 'Roadmap') ? 'alert' : (item.type_info == 'Bug' ) ? 'alert-error': '')
                td= item.date_added.toDateString()
                td= item.comment
                td= item.build_id
                if (isLogged)
                  td
                    a(href="/user/" + item.user) #{item.user}
                  td= item.contact
                  td= item.application
                  td= item.type_info
                  td
                    abbr(title="Edit comment")
                      a(href="/feedback/" + item._id + "/edit")
                        i.icon-edit
                  td
                    abbr(title="Delete comment")
                      a(href="/feedback/delete/" + item._id + "/")
                        i.icon-trash

