extends layout

block content
  #container
    #display
      div
        form(method="post", action="/feedback/" + feedback._id + "/update").form-horizontal
          fieldset
            div.control-group
              label(for="user").control-label User
              input(type="text", name="user", placeholder="User", value=feedback.user, disabled)
            div.control-group
              label(for="imei").control-label IMEI
              input(type="text", name="imei", placeholder="IMEI", value=feedback.imei, disabled)
            div.control-group
              label(for="contact").control-label Contact
              input(type="text", name="contact", placeholder="Contact", value=feedback.contact)
            div.control-group
              label(for="build_id").control-label Build ID
              input(type="text", name="build_id", placeholder="Build ID", value=feedback.build_id)
            div.control-group
              label(for="associated_bug").control-label Associated Bug
              input(type="text", name="associated_bug", placeholder="Associated bug", value=feedback.associated_bug)
            div.control-group
              - positive = (feedback.severity == 0) ? 'selected' : null
              - polish = (feedback.severity == 1) ? 'selected' : null
              - minor = (feedback.severity == 2) ? 'selected' : null
              - mayor = (feedback.severity == 3) ? 'selected' : null
              - critical = (feedback.severity == 4) ? 'selected' : null
              label(for="severity").control-label Severity
              select(name="severity", value=feedback.severity)
                option(value="0", selected=positive) Positive feedback
                option(value="1", selected=polish) Polish
                option(value="2", selected=minor) Minor
                option(value="3", selected=mayor) Mayor
                option(value="4", selected=critical) Critical
            div.control-group
              label(for="comment").control-label Comment
              textarea(type="text", name="comment", rows="5", placeholder="Feedback", required) #{feedback.comment}
            div.control-group
              label(for="additional_info").control-label Additional info
              textarea(type="text", name="additional_info") #{feedback.additional_info}
            div.form-actions
              input(type="submit", value="Update", class="btn").btn-info
              input(type="reset", value="Discard", class="btn")
