extends layout

block content
  #container.all
    #display
      div
        table
          thead
            tr
              th Comment
              th Build id
              th Date added
              if (isLogged)
                th User
                th
                th
            tbody
              each item in feedback
                tr
                  td= item.comment
                  td= item.build_id
                  td= item.date_added
                  if (isLogged)
                    td
                      a(href="/user/" + item.user) #{item.user}
                    td
                      if item.associated_bug
                        abbr(title="Associated bug")
                          a(href="#{item.associated_bug}")
                    td
                      abbr(title="Delete comment")
                        a(href="/feedback/delete/" + item._id + "/")
                          i.icon-trash
